# Arquivos de configuração
.npmrc
.eslintcache
.env

# Dependências
node_modules/

# Arquivos de log e saída de erros
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de compilação
/dist/
/build/
/out/

# Arquivos de IDE e editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Arquivos de sistema
.DS_Store
Thumbs.db
